form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
    font-size: large;
    align-items: stretch;
    justify-content: space-between;
    gap: 5px;
}

form>button {
    cursor: pointer;
    font-size: 0.875rem;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    text-transform: uppercase;
    padding: 6px 16px;
    border-radius: 4px;
    color: #fff;
    background-color: #1976d2;
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
}

.dark input {
    color: #fff;
}

.dark label {
    color: #fff;
}


.div-contact {
    height: 70vh;
    display: grid;
    align-content: space-evenly;
    justify-content: space-around;
    justify-items: start;
}

.error-message {
    font-size: 1rem;
    font-weight: 400;
    border-bottom: solid;
    margin-bottom: 10px;
    color: white;
    background-color: rgb(183 57 68 / 38%);
    border-color: rgb(157 29 40 / 81%);
}